.emergency_form {
  width: 50%;
  margin: auto;
  background-color: white;
  opacity: 0.9;
  padding: 40px;
  padding-top: 20px;
  margin-top: 4%;
  /* margin-bottom: 0%; */
  font-size: 14px;
}
.emergency_body {
  background-image: url("../../assets//4.webp");
  background-size: 100% 1200px;
  height: 100vh;
  width: 100vw;
  /* opacity: 80%; */
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  /* margin-bottom: 5%; */
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .emergency_form {
    width: 80%;
    margin-top: 15%;
  }
}
